body{
    height:1000px;
    width:1000px;
    color:black;
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS91BMeAhIRVBmn9CWQyMGLhNFkpn2ziGbOcQ&usqp=CAU");
    text-align:center;
}
 


  